<template>
    <Navbar />
    
    <v-container>
        <v-row no-gutters>
            <v-col></v-col>
            <v-col cols="4">
                <div class="d-flex justify-center mt-5">
                    <v-img
                        src="/src/assets/light.png"
                        height="200"
                    >
                    </v-img>
                </div>
                <div class="d-flex align-center mt-10">
                    <div class="text-body-1 font-weight-bold">Nombre:</div>
                    <v-text-field
                        class="ml-5"
                        variant="outlined"
                        placeholder="Nombre"
                        v-model="name"
                    ></v-text-field>
                </div>
                <br>
                <v-btn color="#233D4D" class="text-none" type="submit" block>Guardar</v-btn>
            </v-col>
            <v-col></v-col>
        </v-row>
    </v-container>
</template>

<script>
import Navbar from "@/components/Navbar.vue";

export default{
    name: "AddLightView",
    components: {
        Navbar
    },
    data(){
        return{
            name: ""
        }
    }
}
</script>

<style scoped>

</style>