<template>
    <Navbar />
    <div class="mt-5 ml-5">
            <v-btn icon="mdi-arrow-left" color="green" :to="{name:'lights-list'}">
            </v-btn>    
        </div>
    <v-container>
        <v-row no-gutters>
            <v-col></v-col>
            <v-col cols="6">
                <div class="d-flex justify-center">
                    <v-img
                        src="/src/assets/light.png"
                        height="200"
                    >
                    </v-img>
                </div>
                <div class="d-flex justify-center mt-5 text-h5 font-weight-bold">Estadísticas luz prototipo</div>

                <div class="d-flex justify-center contenedor">
                    Estado de luz: {{ estado }}
                </div>
                <div class="d-flex justify-center contenedor">
                    Luz ambiental recibida: {{ luzAmbiental }} lux
                </div>

                <div class="d-flex justify-center contenedor">
                    Existe movimiento: {{ existeMovimiento }}
                </div>

            </v-col>
            <v-col></v-col>
        </v-row>
    </v-container>
    
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import axios from "axios";

export default{
    name:"LightsStatsView",
    data(){
        return{
            estado: "",
            luzAmbiental: "",
            existeMovimiento: ""
        }
    },
    components:{
        Navbar
    },
    methods:{
        getDataFromTB(){
            axios.get("http://iot.ceisufro.cl:8080/api/plugins/telemetry/DEVICE/bbab71d0-8815-11ee-9899-11a8538c56f3/values/timeseries",{
                headers:{
                    'X-Authorization': 'Bearer ' + localStorage.getItem("token"),
                }
            }).then(response => {
                let data = response.data;
                let estadoAux = data.encendido[0].value;
                this.luzAmbiental = data.luminocidad[0].value;
                console.log(this.luzAmbiental);

                let existeMovAux = data.movimiento[0].value;

                if(estadoAux == 0){
                    this.estado = "Apagado";
                }else{
                    this.estado = "Encendido";
                }

                if(existeMovAux == 0){
                    this.existeMovimiento = "No";
                }else{
                    this.existeMovimiento = "Si";
                }

                console.log(data);
            }).catch(error => {
                console.log(error);
            })
        }

    },
    created(){
        setInterval(() => this.getDataFromTB(), 500);
    } 
}
</script>

<style scoped>
    .contenedor{
        background-color: #233D4D;
        color: white;
        margin-top: 50px;
        height: 50px;
        align-items: center;
        border-radius: 4px;
    }
</style>

