<template>
    <Navbar />
    
    <v-container>
        <v-row no-gutters>
            <v-col></v-col>
            <v-col cols="8" class="" >
                <div class="d-flex justify-center text-h5 font-weight-bold pt-5">Luces</div>
                
                <v-table class="mt-10" >
                    <thead>

                    </thead>
                    
                        <tbody>
                            <tr v-for="light in lights" :key="light.name">
                                <td id="icon-light" class="text-center">
                                    <v-icon color="yellow-darken-3">
                                        mdi-lightbulb
                                    </v-icon>
                                </td>
                                <td id="name" class="text-center font-weight-bold">{{ light.name }}</td>
                                <td id="options" class="text-center">
                                    <!-- Cambiar id de lampara -->
                                    <v-btn icon="mdi-chart-bar" class="mr-4" :to="{name:'lights-stats', params:{id:1}}">
                                    </v-btn>
                                    <v-btn color="#233D4D" icon="mdi-pencil-outline" class="mr-4" :to="{name:'lights-options'}">
                                          
                                    </v-btn>
                                    <v-btn icon="mdi-trash-can-outline" color="red">
                                    </v-btn>
                                </td>
                            </tr>
                        </tbody>                    
                </v-table>  
            </v-col>
            <v-col></v-col>
        </v-row>

    </v-container>
</template>

<script>
import Navbar from "@/components/Navbar.vue";

export default{
    name: "LightsListView",
    components: {
        Navbar
    },
    data(){
        return{
            lights:[{name:"Luz prototipo"}]
        }
    }
}
</script>

<style scoped>
th,
td {
  padding-top: 10px;
  padding-bottom: 10px;
}

</style>