<template>
    <div class="d-flex">
        <LogoDivider />

        <v-card
            class="flex-grow-1" 
            flat
            min-height="925"
            color="F2F2F2"
            width="720"
        >
            <div id="lightImage" class="d-flex justify-center">
                <v-img
                    src="src/assets/light.png"
                    height="200"
                ></v-img>
            </div>

            <div id="formContainer" class="d-flex justify-center">
                <v-container>
                    <v-row justify="center">
                        <v-col cols="12" sm="6">
                            <v-form @submit.prevent="login">
                                <v-text-field
                                    prepend-inner-icon="mdi-email-outline"
                                    variant="outlined"
                                    placeholder="Email"
                                    type="email"
                                    v-model="username"                                
                                >
                                    
                                </v-text-field>

                                <v-text-field
                                    prepend-inner-icon="mdi-lock-outline"
                                    variant="outlined"
                                    placeholder="Password"
                                    type="password"
                                    v-model="password"
                                >

                                </v-text-field>

                                <br>

                                <v-btn 
                                    class="text-none font-weight-bold"
                                    color="#233D4D"
                                    block
                                    height="50"
                                    type="submit"
                                    >
                                    Iniciar sesión
                                </v-btn>

                                <br>
                                
                                <!-- <v-btn
                                    class="text-none font-weight-bold"
                                    color="#578A34"
                                    block
                                    height="50"
                                    :to="{ name: 'register' }"
                                    type="submit"
                                    
                                >
                                    Crear cuenta
                                </v-btn> -->
                            </v-form>
                        </v-col>
                    </v-row>
                </v-container>
            </div>
        </v-card>
    </div>
</template>

<script>
import LogoDivider from "@/components/LogoDivider.vue";
import axios from "axios";

export default{
    name: "LoginView",
    components: {
        LogoDivider
    },
    data: () => ({
        username: "",
        password: ""
    }),
    methods: {
        login(){
            axios.post('http://iot.ceisufro.cl:8080/api/auth/login', {
                username: this.username,
                password: this.password
            }).then(response => {
                console.log(response);
                localStorage.setItem("token", response.data.token);
                this.$router.push({ name: "lights-list" });
            }).catch(error => {
                console.log(error, "Error en el inicio de sesión");
            })
        }
    },
}

</script>

<style scoped>
    #formContainer, #lightImage{
        margin-top: 100px;
    }
</style>