<template>
    <Navbar />

    <v-container>
        <v-row no-gutters>
            <v-col></v-col>
            <v-col cols="4">
                <div class="d-flex justify-center mt-5 mb-10">
                    <v-img
                        src="/src/assets/light.png"
                        height="200"
                    >
                    </v-img>
                </div>
                <div class="d-flex justify-space-between align-center">
                    <div class="text-body-1 font-weight-bold">Apagado automático
                        
                    </div>
                    <div class="">
                        <v-switch class="mt-5" inset></v-switch>
                    </div>
                    
                </div>
                <div class="d-flex justify-space-between align-center">
                    <div class="text-body-1 font-weight-bold">Adaptación a luz ambiental</div>
                    <div class="">
                        <v-switch class="mt-5" inset></v-switch>
                    </div>
                    
                </div>
            </v-col>
            <v-col></v-col>
        </v-row>
    </v-container>
</template>    

<script>
import Navbar from "@/components/Navbar.vue";

export default{
    name: "OptionsView",
    components: {
        Navbar
    },
}

</script>
