<template>
    <div class="d-flex">
        <LogoDivider />

        <v-card
            class="flex-grow-1" 
            flat
            min-height="925"
            color="F2F2F2"
            width="720"
        
        >
            <div id="lightImage" class="d-flex justify-center">
                <v-img
                    src="src/assets/light.png"
                    height="200"
                ></v-img>
            </div>  
            
            <div id="formContainer" class="d-flex justify-center">
                <v-container> 
                    <v-row justify="center">
                        <v-col cols="12" sm="6">
                            <v-form>
                                <v-text-field
                                    prepend-inner-icon="mdi-email-outline"
                                    variant="outlined"
                                    placeholder="Email"
                                    type="email"
                                    v-model="email"                                
                                >
                                    
                                </v-text-field>

                                <v-text-field
                                    prepend-inner-icon="mdi-account-outline"
                                    variant="outlined"
                                    placeholder="Username"
                                    type="text"
                                    v-model="username"
                                >

                                </v-text-field>

                                <v-text-field
                                    prepend-inner-icon="mdi-lock-outline"
                                    variant="outlined"
                                    placeholder="Password"
                                    type="password"
                                    v-model="password"
                                >
                                </v-text-field>

                                <v-text-field
                                    prepend-inner-icon="mdi-lock-outline"
                                    variant="outlined"
                                    placeholder="Confirm Password"
                                    type="password"
                                    v-model="confirmPassword"
                                >
                                    
                                </v-text-field>

                                <br>

                                <v-btn 
                                    class="text-none font-weight-bold"
                                    color="#233D4D"
                                    block
                                    height="50"
                                    type="submit"
                                    >
                                    Registrarse
                                </v-btn>

                                <br>

                                <v-btn
                                    class="text-none font-weight-bold"
                                    color="#578A34"
                                    block
                                    height="50"
                                    :to="{ name: 'login' }"
                                >
                                    Volver
                                </v-btn> 

                            </v-form>

                        </v-col>
                    </v-row>   
                </v-container>        
            </div>
        </v-card>
    </div>
</template>

<script>
import LogoDivider from "@/components/LogoDivider.vue";

export default {
    name: "RegisterView",
    components: {
        LogoDivider
    },
    data: () => ({
        email: "",
        username: "",
        password: "",
        confirmPassword: ""
    })   
}
</script>

<style scoped>
#lightImage, #formContainer {
    margin-top: 100px;
}
</style>