<template>
    <v-card
        class="flex-grow-1 d-flex align-center justify-center"
        color="#578A34"
        flat
        width="720"
        min-height="925"
    >
    <v-img
        src="src/assets/bigTextLogo.png"
        height="80"
    >
    </v-img>
    </v-card>
</template>

<script>
    export default {
        name: "LogoDivider"
    }
</script>