<template>
    <v-navigation-drawer color="#578A34" permanent app>
        <v-img
            id="logo"
            src="/src/assets/tinyTextLogo.png"
            width="200"
            class="mx-auto text-center mt-5"

        ></v-img>

        <v-list nav class="mt-5" id="list">
            <v-list-item v-for="item in items" :key="item.title" link @click="redirect(item.route)">
                <v-list-item-content>
                    <v-list-item-title class="text-body-2 font-weight-bold pl-2">{{ item.title }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>

        <template v-slot:append>
            <v-btn @click="logOut" class="text-none font-weight-bold mb-5" color="#233D4D" block rounded="0" append-icon="mdi-logout">Cerrar sesión</v-btn>
        </template>
    </v-navigation-drawer>
</template>

<script>
    export default {
        name: "Navbar",
        data: () => ({
            items: [
                { title: "Lista de luces", route:'lights-list'},
                { title: "Agregar luz", route:'add-light'},
                { title: "Opciones", route:'lights-options'},

            ],
        }),
        methods: {
            redirect(route) {
                this.$router.push({ name: route });
            },
            logOut() {
                localStorage.removeItem('token');
                this.$router.push({ name: 'login' });
            }
        }    
    
    }

</script>

<style scoped>
 #list{
    font-size: 20px !important;
 }
 .v-list-item:hover, .v-list-item:focus{
    background-color: #233D4D !important;
 } 
</style>